* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
a {
  text-decoration: none; /* 移除下划线 */
  color: inherit; /* 继承父元素的颜色 */
  cursor: pointer; /* 设置鼠标样式为指针 */
}
a:hover {
  color: inherit; /* 悬停时保持颜色不变 */
}
.header {
  width: 100%;
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 4;
  opacity: 0.9;
}

/*選單線*/

.hambuger {
  border: #000 1px solid;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  /* position: fixed; */
  /* top: 3%; */
  right: 0;
  z-index: 4;
}

.hambuger .line,
.hambuger .line::after,
.hambuger .line::before {
  content: "";
  background: #000;
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  transition: all 0.3s;
}

.hambuger .line::after {
  top: -8px;
}

.hambuger .line::before {
  top: 8px;
}
#menu {
  display: none;
}

/*選單變x*/
#menu:checked + .hambuger .line {
  background: transparent;
}

#menu:checked + .hambuger .line::after {
  transform: rotate(45deg);
  top: 0;
  left: 0;
}

#menu:checked + .hambuger .line::before {
  transform: rotate(-45deg);
  top: 0;
  left: 0;
}
/*展開內容*/

.menu-link {
  width: 100%;
  height: 100%;
  background-color: #ececec;
  position: fixed;
  top: -100%;
  left: 0;
  visibility: hidden; /* 使用 visibility 来控制元素是否可见 */
  transition: all 1s;
}
#menu:checked ~ .menu-link {
  top: 0;
  opacity: 1;
  visibility: visible; /* 当菜单被选中时显示菜单 */
}
.menu-link-guoup {
  width: 100%;
  height: 50%;
  display: flex;
}
.menu-link-guoup-item {
  width: 50%;
  height: 100%;
  border: #000 1px solid;
  font-size: 36px;
  text-align: center;
  padding: 10%;
  transition: all 0.3s;
  font-weight: 900;
}
.menu-link-guoup-item:hover {
  background-color: #02328d;
  color: #fff;
  font-size: 52px;
}

.about-me {
  /* position: relative; */
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */

  content: "";
  background-image: url(/pic/aboutme-Innovation.jpg);
  background-size: cover;
  background-position: center;
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about-me::before {
  /* background-color: rgba(0, 0, 0, 0.5);  */
  /* opacity: 0.8; */
}

.about-me .title {
  position: relative;
  width: 100%;
  height: 100%;
}

.title .font {
  font-size: 90px;
  position: absolute;
  top: 15%;
  left: 40%;
  color: #fff;
  font-weight: 600;
  line-height: 79px;
}

.innovation {
  width: 150px;
  position: absolute;
  top: 34%;
  left: 35%;
  color: #fff;
  font-size: 40px;
  /* z-index: 2; */
}

.innovation::before {
  content: "01";
  position: absolute;
  left: -120%;
  top: 50%;
  width: 100%;
  height: 1px;
  background-color: #fff;
  display: block;
}

.innovationRight {
  /* display: inline-block; */
  color: #fff;
  position: absolute;
  top: 42%;
  left: 46%;
  width: 23%;
  letter-spacing: 0.2em;
}

/* 控制箭头按钮的样式 */
.toggle-arrow {
  position: fixed;
  right: 0;
  top: 75%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #02328d;
  border: #fff 1px solid;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 3;
}

.toggle-arrow {
  font-size: 40px;
}

/* 页脚样式 */
.footer {
  width: 765px;
  height: 800px;
  color: #fff;
  font-size: 25px;
  padding-left: 103px;
  padding-top: 8%;
  position: fixed;
  background-color: #02328d;
  border: #000 1px solid;
  right: -800px; /* 初始在右侧不可见 */
  bottom: 0;
  transition: right 0.8s ease; /* 进入时的动画效果 */
  z-index: 2;
}

.footer.show {
  right: 0;
}
/* 点击箭头后，页脚显示 */
.info {
  height: 320px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
