* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

a {
  text-decoration: none; /* 移除下划线 */
  color: inherit; /* 继承父元素的颜色 */
  cursor: pointer; /* 设置鼠标样式为指针 */
}

a:hover {
  color: inherit; /* 悬停时保持颜色不变 */
}

.header {
  width: 100%;
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 4;
  opacity: 0.9;
}

/*選單線*/

.hambuger {
  border: #000 1px solid;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  /* position: fixed; */
  /* top: 3%; */
  right: 0;
  z-index: 4;
}

.hambuger .line,
.hambuger .line::after,
.hambuger .line::before {
  content: "";
  background: #000;
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  transition: all 0.3s;
}

.hambuger .line::after {
  top: -8px;
}

.hambuger .line::before {
  top: 8px;
}
#menu {
  display: none;
}

/*選單變x*/
#menu:checked + .hambuger .line {
  background: transparent;
}

#menu:checked + .hambuger .line::after {
  transform: rotate(45deg);
  top: 0;
  left: 0;
}

#menu:checked + .hambuger .line::before {
  transform: rotate(-45deg);
  top: 0;
  left: 0;
}
/*展開內容*/

.menu-link {
  width: 100%;
  height: 100%;
  background-color: #ececec;
  position: fixed;
  top: -100%;
  left: 0;
  transition: all 1s;
  /* visibility: hidden; 使用 visibility 来控制元素是否可见 */
}

#menu:checked ~ .menu-link {
  opacity: 1;
  top: 0;
  /* visibility: visible; 当菜单被选中时显示菜单 */
}

.menu-link-guoup-item > a {
  text-decoration: none;
}
.menu-link-guoup {
  width: 100%;
  height: 50%;
  display: flex;
}
.menu-link-guoup-item {
  width: 50%;
  height: 100%;
  border: #000 1px solid;
  font-size: 36px;
  text-align: center;
  padding: 10%;
  transition: all 0.3s;
  font-weight: 900;
}
.menu-link-guoup-item:hover {
  background-color: #02328d;
  color: #fff;
  font-size: 52px;
}

html {
  height: 100%;
}
.value {
  background-image: url(/pic/cultural.png);
  background-size: cover;
  background-position: bottom;
  height: calc(100% - 120px);
  width: 100vw;
  display: flex;
  padding: 10% 10% 0px;
  justify-content: space-around;
  position: relative;
}

.title {
  color: #fff;
  position: absolute;
  top: 10%;
}

.value > .card {
  width: 20.333%;
  height: 350px;
  background-color: #fff;
  border-radius: 5%;
  position: relative;
}

.card > p {
  height: 45px;
  width: 45px;
  background-color: #f3be73;
  border-radius: 50%;
  position: relative;
  left: 45%;
  top: -5%;
  animation: wave 5s infinite linear;
}
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.icon {
  background-color: #f3be73;
  font-size: 30px;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card > .card-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10% 10%;
}

.card-info > .heading {
  margin-bottom: 20px;
  line-height: 52px;
  font-size: 52px;
  color: #f3be73;
}

.card-info > .text {
  line-height: 28px;
  letter-spacing: 1.2mm;
}
