html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

a {
  text-decoration: none; /* 移除下划线 */
  color: inherit; /* 继承父元素的颜色 */
  cursor: pointer; /* 设置鼠标样式为指针 */
}

a:hover {
  color: inherit; /* 悬停时保持颜色不变 */
}

.header {
  width: 100%;
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 4;
  opacity: 0.9;
  background-color: #f5f5f5;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
}

/*選單線*/

.hambuger {
  border: #000 1px solid;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  /* position: fixed; */
  /* top: 3%; */
  right: 0;
  z-index: 4;
}

.hambuger .line,
.hambuger .line::after,
.hambuger .line::before {
  content: "";
  background: #000;
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  transition: all 0.3s;
}

.hambuger .line::after {
  top: -8px;
}

.hambuger .line::before {
  top: 8px;
}
#menu {
  display: none;
}

/*選單變x*/
#menu:checked + .hambuger .line {
  background: transparent;
}

#menu:checked + .hambuger .line::after {
  transform: rotate(45deg);
  top: 0;
  left: 0;
}

#menu:checked + .hambuger .line::before {
  transform: rotate(-45deg);
  top: 0;
  left: 0;
}
/*展開內容*/

.menu-link {
  width: 100%;
  height: 100%;
  background-color: #ececec;
  position: fixed;
  top: -100%;
  left: 0;
  transition: all 1s;
  /* visibility: hidden; 使用 visibility 来控制元素是否可见 */
}

#menu:checked ~ .menu-link {
  opacity: 1;
  top: 0;
  /* visibility: visible; 当菜单被选中时显示菜单 */
}

.menu-link-guoup-item > a {
  text-decoration: none;
}
.menu-link-guoup {
  width: 100%;
  height: 50%;
  display: flex;
}
.menu-link-guoup-item {
  width: 50%;
  height: 100%;
  border: #000 1px solid;
  font-size: 36px;
  text-align: center;
  padding: 10%;
  transition: all 0.3s;
  font-weight: 900;
}
.menu-link-guoup-item:hover {
  background-color: #02328d;
  color: #fff;
  font-size: 52px;
}

/* .hambuger {
  width: 40px;
  height: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.first-line {
  width: 30px;
  height: 2px;
  background-color: #1c2750;
  
}

.second-line {
  width: 100%;
  height: 2px;
  background-color: #272830;
  position: static;
} */

.main {
  background-color: #1c2750;
  width: 100%;
  height: 100%;
}
/* .swiper {
  width: 100vw;
  height: 100vh;
} */
.slogan {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #1c2750;
  padding-top: 4%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  margin-bottom: 80px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  color: #fff;
  display: flex;
}
.left-top {
  color: #21bfca;
  letter-spacing: 2px;
  font-weight: 500;
}
.slogan > .container > .left {
  flex: 1;
  padding-top: 10%;
  padding-right: 100px;
}
.left h1 {
  line-height: 70px;
}

.left-bottom {
  letter-spacing: 1.5px;
  padding: 10px 0 10px;
}
.right-img {
  width: 50%;
  height: 750px;
  border: #fff 1px solid;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background-image: url(./pic/right-img.png);
}

.flip {
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background: #1c2750;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip > .circle {
  width: 350px;
  height: 350px;
  background-color: #8fb5ce;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip > .circle > .inside-circle {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  border: #fff 1px solid;
}

.flip > .circle > .inside-circle > .logo {
  background-image: url(./pic/flip.webp);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-size: cover;
}

.about {
  padding-top: 7%;
  padding-left: 80px;
  flex: 1;
}
.about .text {
  font-size: 50px;
  background: linear-gradient(#3a1c71, #d76d77, #ffaf7b);
  background-clip: text;
  color: transparent;
  font-family: Stencil Std, fantasy;
}

/*中間間隔*/
.slogan > a {
  transition: all 0.3s;
}

.rotating-circle {
  position: absolute;
  bottom: calc(0% - 50px);
  width: 90px;
  height: 90px;
  border: 5px double #3498db;
  background-color: #0f0c91;
  border-radius: 50%;
  left: 48%;
  z-index: 1;
}
.rotating-circle:hover {
  animation: fillCircle 2s linear infinite;
}

.fa-arrow-down {
  font-size: 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes fillCircle {
  0% {
    border-top-color: #3498db;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  25% {
    border-top-color: #3498db;
    border-right-color: #3498db;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    border-top-color: #3498db;
    border-right-color: #3498db;
    border-bottom-color: #3498db;
    border-left-color: transparent;
  }
  /* 75% {
    border-top-color: #3498db;
    border-right-color: #3498db;
    border-bottom-color: #3498db;
    border-left-color: #3498db;
  } */
  100% {
    border-top-color: #3498db;
    border-right-color: #3498db;
    border-bottom-color: #3498db;
    border-left-color: #3498db;
  }
}

.company-business {
  position: relative;
  display: flex;
  margin-bottom: 80px;
}
.company-business > .left {
  width: 600px;
  height: 100vh;
  background-color: #fff;
  color: #180a0a;
  padding: 280px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.company-business > .left > .title1 {
  font-size: 24px;
  padding: 30px 0;
}
.company-business > .left > .title2 {
  font-size: 61px;
  padding: 30px 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.company-business > .slider {
  width: calc(100vw - 600px);
  height: 100vh;
  display: flex;
}

.company-business > .slider > .slider-info1,
.slider-info2,
.slider-info3,
.slider-info4 {
  width: calc((100vw - 600px) * 0.25);
  position: relative;
}

.slider-info1 > .text,
.slider-info2 > .text,
.slider-info3 > .text,
.slider-info4 > .text {
  position: absolute;
  left: 5%;
  top: 30%;
  font-size: 40px;
  color: #fff;
}

.square {
  margin: 50px;
  width: 240px;
  height: 240px;
  border-radius: 30px;
  position: absolute;
  transform: rotate(45deg);
  top: 35%;
  right: 0px;
}

.littleAqu {
  width: 35.3333%;
  height: 240px;
  border: 1px dashed #000;
  background-color: #f5f5f5;
  opacity: 0.9;
  border-radius: 30px;
  display: flex;

  justify-content: center; /* 水平居中 */
  align-items: center;
}
.littleAqu p {
  transform: rotate(-90deg);
  font-weight: 800;
}

.littleAqu2 {
  width: 35.3333%;
  height: 240px;
  border: 1px dashed blue;
  background-color: #f5f5f5;
  opacity: 0.9;
  border-radius: 30px;
  transform: rotate(90deg);
  position: absolute;
  top: -33%;
  left: 33%;
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center;
}
.littleAqu2 p {
  transform: rotate(-90deg);
  font-weight: 800;
  color: #0f0c91;
}
.littleAqu3 {
  width: 35.3333%;
  height: 240px;
  border: 1px dashed #092903;
  background-color: #f5f5f5;
  opacity: 0.9;
  border-radius: 30px;
  position: absolute;
  top: 0px;
  right: 0;
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center;
}

.littleAqu3 p {
  transform: rotate(-90deg);
  font-weight: 800;
  color: #092903;
}
.littleAqu4 {
  width: 35.3333%;
  height: 240px;
  border: 1px dashed brown;
  background-color: #f5f5f5;
  opacity: 0.9;
  border-radius: 30px;
  transform: rotate(90deg);
  position: absolute;
  top: 33%;
  left: 33%;
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center;
}

.littleAqu4 p {
  transform: rotate(-90deg);
  font-weight: 800;
  color: brown;
}
.centerSqu {
  width: calc(240px - 33% - 33%);
  height: calc(240px - 33% - 33%);
  background-color: #b9ae95;
  /* border: #000 1px solid; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/*slider-info3的圖*/
.oval {
  width: 300px;
  height: 300px;
  /* border: #000 1.5px solid; */
  /* border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%; */
  position: absolute;
  overflow: hidden;
  top: 37%;
  right: 0%;
  font-weight: 800;
}
.littleOval,
.littleOval2,
.littleOval3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.littleOval {
  height: 100px;
  width: 250px;
  background-color: #f5f5f5f4;
  color: #0f0c91;
  border: #0f0c91 1px dashed;
  border-radius: 50% 50% 50% 50% / 60% 60% 50% 50%;
  opacity: 0.9;
  position: absolute;
  top: 21%;
  left: -42px;
  transform: rotate(-55deg);
  font-weight: 800;
  display: flex;
  flex-direction: column;
}

.littleOval2 {
  height: 100px;
  width: 250px;
  background-color: #f5f5f5f4;
  color: #092903;
  border: #092903 1px dashed;
  border-radius: 50% 50% 50% 50% / 60% 60% 50% 50%;
  opacity: 0.9;
  position: absolute;
  top: 41%;
  right: -148px;
  transform: translate(-50%, -50%) rotate(66deg);
}
.littleOval3 {
  height: 100px;
  width: 250px;
  background-color: #f5f5f5f4;
  color: brown;
  border: brown 1px dashed;
  border-radius: 50% 50% 50% 50% / 60% 60% 50% 50%;
  opacity: 0.9;
  position: relative;
  top: 53%;
  left: 12px;
}

.text ~ .num {
  position: absolute;
  font-size: 190px;
  opacity: 0.1;
  top: 72%;
  left: -2px;
  transition: all 0.5s;
}

.num:hover {
  top: 60%;
}
.company-business > .slider > .slider-info1 {
  background-color: #b9ae95;
}

.company-business > .slider > .slider-info2 {
  background-color: #2d5ac8;
}

.company-business > .slider > .slider-info3 {
  background-color: #9b9a9d;
}

.company-business > .slider > .slider-info4 {
  background-color: #86754d;
}

/*重點職缺*/
.job {
  background-color: #44494e;
  width: 100%;
  height: 90%;
  padding: 80px 0px;
}

.job > .title {
  width: 70%;
  height: 26%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.job > .title > h2 {
  font-size: clamp(1.75rem, 2.25vw, 2rem);
  line-height: 1.5;
  color: #fff;
}

.bot {
  margin: 32px 0;
  width: 100%;
  height: 20%;
  background: radial-gradient(circle 4px, #9d772c 4px, transparent 4px);
  background-size: 20px 20px;
} /*漸層效果(圓型 從x y軸開始4px為原點 , 圓形顏色 圓形範圍 , 超過4px範圍是透明)
background-size : 整體佔的範圍
預設是repead*/

.job .container {
  display: flex;
  justify-content: space-around;
}

.container .card {
  width: 30.3333%;
  height: 450px;
  position: relative;
}

.card .flip-card {
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s;
}

.front,
.back {
  width: 100%;
  height: 100%;
  padding: 10% 10% 5%;
}
.front {
  position: absolute;
  font-size: 40px;
  background-color: #fff;
  color: #000;
  backface-visibility: hidden;
  text-align: left;
}
.image {
  width: 150px;
  height: 150px;
  border: #000 1px solid;
}

.front > .title {
  text-align: left;
  font-size: 25px;
  line-height: 60px;
  margin-top: 50px;
}

.front > p {
  font-size: 20px;
  line-height: 45px;
}

.back {
  position: absolute;
  background: linear-gradient(145deg, #bf988f, #f1e0d6);
  font-size: 20px;
  color: #000;
  transform: rotateY(180deg);
  backface-visibility: hidden; /*3D背景影藏*/
}
/* #bf988f, #f3e96b    #bf988f, #f1e0d6*/
.back > .title {
  text-align: left;
  font-size: 25px;
  line-height: 60px;
  margin-top: 55px;
  /* margin-bottom: 25px; */
}

.back > p {
  font-size: 20px;
  line-height: 25px;
}

.card:hover .flip-card {
  transform: rotateY(180deg);
}

.more {
  background: linear-gradient(145deg, #bf988f, #f1e0d6);
  width: 120px;
  height: 30px;
  border-radius: 10px;
  transition: all 0.5s;
  position: absolute;
  top: 70%;
  left: 60%;
  cursor: pointer;
}

.more > a {
  width: 100%;
  height: 100%;
}

.more:hover {
  background: #fff;
}

/* 控制箭头按钮的样式 */
.toggle-arrow {
  position: fixed;
  right: 0;
  top: 75%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #02328d;
  border: #fff 1px solid;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 3;
}

.toggle-arrow {
  font-size: 40px;
}

/* 页脚样式 */
.footer {
  width: 765px;
  height: 800px;
  color: #fff;
  font-size: 25px;
  padding-left: 103px;
  padding-top: 8%;
  position: fixed;
  background-color: #02328d;
  border: #000 1px solid;
  right: -800px; /* 初始在右侧不可见 */
  bottom: 0;
  transition: right 0.8s ease; /* 进入时的动画效果 */
  z-index: 2;
}

.footer.show {
  right: 0;
}
/* 点击箭头后，页脚显示 */
.info {
  height: 320px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.line {
  font-size: 25px;
}

.icon {
  display: inline-block;
  margin-right: 25px;
}

.text {
  display: inline-block;
}

#toggler:checked + label .hambuger .first-line {
  display: none;
}

#toggler {
  display: none;
}
